body {
  font-size: sans-serif;
  padding: 20px;
}



.header {
  margin: 10px 0px;
  font-weight: bold;
  font-size: impact;
}

.flashcards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20;
}


.flashcards div {
  border: 1px solid #ccc;
  background-color: #ccc;
  border-radius: 7px;
  aspect-ratio: 2/1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  margin: 10px;
}

.flashcards div.selected {
  background-color: #d50d50;
}